<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
    <file value="C://Log//log.json" />
    <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
  </appender>

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="JsonFileLogger"/>
  </root>
  

  <logger name="JsonFileLogger">
    <level value="ALL"></level>
    <appender-ref ref="JsonFileLogger"/>
  </logger>

 
</log4net>